<%= form_with model: @ticket, local: true do |f| %>
  <%= render 'shared/errors', obj: @ticket %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :project_id %>
    <%= f.select :project_id, {}, {prompt: 'Select Project'}, {class: 'form-control'}  do %>
      <% @projects.each do |project| %>
        <% if project.id == @ticket.project_id %>
          <%= content_tag(:option, project.name, value: project.id, selected: 'selected') %>
        <% else %>
          <%= content_tag(:option, project.name, value: project.id) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :assignee %>
    <%= f.select :assignee_id, {}, {prompt: 'Assign to:'}, {class: 'form-control'} do %>
      <% @users.each do |user| %>
        <% if user.id == @ticket.assignee_id %>
          <%= content_tag(:option, user.username, value: user.id, selected: 'selected') %>
        <% else %>
          <%= content_tag(:option, user.username, value: user.id) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :status %>
    <%= f.select :status, [['New', 'new'], ['Blocked', 'blocked'], 
                           ['In Progress', 'in_progress'], ['Fixed', 'fixed']], 
    {prompt: 'Select Status'}, {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <label for="tags" class="mr-3">Tags:</label>
    <% @tags.each do |tag| %>
      <div class="form-check form-check-inline">
        <%= check_box_tag 'tags[]', tag.id, @ticket.tags.include?(tag), {class: 'form-check-input'} %>
        <%= f.label tag.name, class: 'form-check-label' %> 
      </div>
    <% end %>
  </div>
  <%= f.submit 'Submit', class: 'btn btn-primary my-3' %>
<% end %>
