<div class="my-2">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Assigned To</th>
        <th scope="col">Status</th>
        <th scope="col">Tags</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= link_to ticket.name, ticket_path(ticket) %></td>
        <td><%= ticket.assignee.username %></td>
        <td><%= ticket.status.split('_').map(&:capitalize).join(' ') %></td>
        <td>
          <%= ticket.tags.map {|tag| tag.name}.join(', ') %>
        </td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %> |
            <%= link_to 'Delete', ticket_path(ticket),
                method: :delete,
                data: { confirm: 'Are you sure?' } %> </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
