<%= form_with model: @tag, local: true do |f| %>
  <%= render 'shared/errors', obj: @tag %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>


